.notfound-container {
  background-color: #050505;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(90px, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  position: relative;
  overflow: hidden;
}

.notfound-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle,
    rgba(241, 122, 55, 0.15) 0%,
    transparent 70%
  );
  z-index: 0;
}

.error-code {
  font-size: clamp(8rem, 20vw, 12rem); /* حجم مرن حسب الشاشة */
  font-weight: 900;
  color: RGB(255, 136, 2);
  line-height: 1;
  letter-spacing: -5px;
}

.icon-circle {
  width: 120px;
  height: 120px;
  border: 1px solid rgba(241, 122, 55, 0.3);
  background: rgba(241, 122, 55, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.orbit-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: RGB(255, 136, 2);
  border-radius: 50%;
  top: 10px;
  right: 10px;
  box-shadow: 0 0 10px RGB(255, 136, 2);
}

.btn-orange {
  background-color: RGB(255, 136, 2);
  color: white;
  border: none;
}
.btn-orange:hover {
  background-color: #d6682f;
  color: white;
}

.btn-outline-custom {
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}
.btn-outline-custom:hover {
  background: rgba(255, 255, 255, 0.05) !important;
  color: white !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg) translateX(60px);
  }
  to {
    transform: rotate(360deg) translateX(60px);
  }
}
.orbit-dot {
  animation: spin 4s linear infinite;
  top: 55px;
  right: 55px;
}
